## AWS S3 - MLFlow - credentials
# terraform output -raw mlflow_access_key_id
AWS_ACCESS_KEY_ID=
# terraform output -raw mlflow_secret_access_key
AWS_SECRET_ACCESS_KEY=

# AWS Sagemaker MLFlow App
# terraform output -raw mlflow_app_arn
MLFLOW_TRACKING_URI=<mlflow_app_arn>