## AWS S3 - MLFlow - credentials
# terraform output -raw mlflow_access_key_id
AWS_ACCESS_KEY_ID=
# terraform output -raw mlflow_secret_access_key
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=eu-west-2

## AWS RDS credentials
# terraform output -raw rds_endpoint
RDS_HOST=
# terraform output -raw f1_predictor_role_password
F1_PREDICTOR_DB_PASSWORD=
# terraform output -raw mlflow_role_password
MLFLOW_DB_PASSWORD=